Source: clusterctrl
Section: misc
Priority: optional
Maintainer: MistressMeeple <jocult001@gmail.com>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.1.3
Homepage: https://github.com/MistressMeeple/clusterhat
#Vcs-Browser: https://salsa.debian.org/debian/clusterhat
#Vcs-Git: https://salsa.debian.org/debian/clusterhat.git

Package: clusterctrl
Architecture: arm64 armhf
Depends: ${misc:Depends},
 bridge-utils (>= 1.6-2),
 busybox (>= 1:1.30.1-6) [all],
 debconf (>= 1.5.71),
 iptables-persistent (>= 1.0.10) [all],
 libusb-1.0-0-dev (>= 2:1.0.22-2),
 minicom (>= 2.7.1-1),
 nfs-kernel-server (>= 1:1.3.4-2),
 python-is-python3 (>= 3.9) [all],
 python3 (>= 3.7) [arm64 armhf],
 python3-libusb1 (>= 1.9.1-1) [all],
 python3-smbus (>= 4.2-1+b1) [all],
 python3-usb (>= 1.0.2-2) [all],
 rpiboot (>= 20210714~083443),
 screen (>= 4.6.2-3),
 subversion (>= 1.10.4-1)
Description: Controls ClusterHat and Pi Zero cluster
 ClusterCTRL commands interface with the Cluster Hat and the Pi's attached to it

