Source: clusterctrl
Section: misc
Priority: optional
Maintainer: MistressMeeple <jocult001@gmail.com>
Build-Depends: debhelper (>= 12), dh-systemd (>= 1.5) 
Standards-Version: 4.1.3
Homepage: https://github.com/MistressMeeple/clusterhat
#Vcs-Browser: https://salsa.debian.org/debian/clusterhat
#Vcs-Git: https://salsa.debian.org/debian/clusterhat.git

Package: clusterctrl
Architecture: any
Depends: ${misc:Depends}, debconf [arm* any], rpiboot [arm* any], bridge-utils [arm* any], screen [arm* any], minicom [arm* any], python-smbus [arm* any], subversion [arm* any], git [arm* any], libusb-1.0-0-dev [arm* any], nfs-kernel-server [arm* any], python-usb [arm* any], python-libusb1 [arm* any], busybox [arm* any], python [arm* any], iptables-persistent [arm* any]
Description: Controls ClusterHat and Pi Zero cluster
 ClusterCTRL commands interface with the Cluster Hat and the Pi's attached to it 
